html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input,
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    max-width: 100%;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-text-size-adjust: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    height: 100%;
}

html {
    font-size: 19px;
}

@media only screen and (min-width: 350px) {
    html {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 401px) {
    html {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 428px) {
    html {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 569px) {
    html {
        font-size: 22px !important;
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 25px !important;
    }
}

@media (max-width: 500px) {
    .noMBottom {
        margin-bottom: 0;
    }
}

html,
body {
    font-family: "microsoft yahei", sans-serif, tahoma, arial, "Hiragino Sans GB";
    background-color: #fff;
}

.row:after,
.clear:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
}

.span1 {
    width: 8.3333%;
}

.span2 {
    width: 16.6666%;
}

.span3 {
    width: 25%;
}

.span4 {
    width: 33.3333%;
}

.span5 {
    width: 41.6666%;
}

.span6 {
    width: 50%;
}

.span7 {
    width: 58.3333%;
}

.span8 {
    width: 66.6666%;
}

.span9 {
    width: 75%;
}

.span10 {
    width: 83.3333%;
}

.span11 {
    width: 91.6666%;
}

.span12 {
    width: 100%;
}

.span13 {
    width: 52%;
}

.appExpRule {

    margin: 0 auto;
    width: 91%
}

.appExpRule h2, .appExpRule p {
    width: 100%;
    margin-top: .5rem;
}

.appExpRule img {
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid #eee;
}

.appExpRule h2 {
    margin-top: 1rem;
    font-size: 0.75rem;
    line-height: 1.57rem;
    color: #F4B942;
}

p {
    font-size: .7rem;
    line-height: 1.13rem;
    color: #666666;
}

.appExpRuleBottom {
    margin-bottom: 1rem;
}
.safety{
    margin: 0 auto;
    width:91%
}
.safety img{
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid #eee;
}
.safety h1,.safety p{
    width: 100%;
    margin-top: .5rem;
}
.safety h1{
    margin-top:1rem;
    font-size:0.9rem ;
    line-height: 1.57rem;
    color: #f77f96;
}

img {
    margin: auto;
    display: block;
}

.span79 {
    margin: 0 auto;
    width: 79%;
}

.app_register_input {

    background: #ffffff;

}

.app_register_out {
    height: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.outRegister input {
    width: 95%;
    padding-left: 5%;
    height: 2rem;;
}

.app_register_input input {

    outline: none !important;
    border: none !important;
}

.app_register_input input:focus {
    outline: none !important;
    border: none !important;
}

.app_register_oImgTop {
    overflow: hidden;
}

.app_register_oImgTop div {
    float: left;

}

.app_register_oImgTop .app_register_oImgTop_A {
    width: 66%;
}

.app_register_oImgTop .app_register_oImgTop_B {
    float: left;
    margin-left: .3rem;
    width: 29%;
    height: 100%;
}

.app_register_oImgTop .app_register_oImgTop_c {
    width: 64%;
}

.app_register_oImgTop .app_register_oImgTop_d {
    width: 32%;
    float: left;
    font-size: .7rem;
    height: 100%;
    margin-left: .5rem;
    line-height: 2rem;
    background: #ff8c40;
    text-align: center;
    border-radius: 0.3rem;
}

.app_register_oImgTop .app_register_oImgTop_d div {
    width: 100%;
    color: #ffffff;
}

.app_register_oImgFoot {
    margin: 0 auto;
    text-align: center;
    background: #fed931;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    border-radius: 0.3rem;
}

.app_register_bottom {
    padding-top: 2rem;
    width: 100%;
    height: 15rem;
    background: #fea531;
}

.app_register_bottom .app_register_foot {
    margin: 0 auto;
    width: 92%;
    height: 10rem;
    background: url('../images/tuiguang/app_regsiter_flow.png') no-repeat;
    background-size: 100%;
}

.app_register_footInner {
    position: relative;
    top: .5rem;
}

.app_register_footInner div {
    margin: 0 auto;
    width: 11.9rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border-bottom: 1px dashed #CCCCCC;
    color: #fff;
    text-align: center;
    font-size: .95rem;
}

.app_register_footInner div:last-child {
    border: none;
}

.app_register_gold_sin {
    height: 2.8rem;;
    background: url("../images/tuiguang/app_register_gold_00.png") repeat-x;
}

.app_register_footer div {
    height: 2rem;
    line-height: 2rem;
    background: #e59328;
    text-align: center;
    color: white;
}

.app_two_img {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    text-align: center;
}

.app_two_img .app_two_center {
    position: relative;
    top: 50%;
    margin: 0 auto;
    margin-top: -4.9rem;
    height: 9.8rem;
    width: 79%;
    background: #ffffff;
    border-radius: .5rem;
}

.app_two_footer {
    /*width:89%;*/

}

.app_two_footer .app_two_footer_top div:nth-child(1) {
    width: 89%;
    padding: .5rem 0 0 0;
    font-size: .7rem;
    margin: 0 auto;
}

.app_two_footer .app_two_footer_top div:nth-child(2) {
    color: #f1766c;
    margin: .3rem 0 .5rem 0;
}

.app_two_footer .app_two_footer_one {
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px solid #fc5e52;
}

.app_two_footer .app_two_footer_two {
    background: #fea531;
    width: 89%;
    height: 1.7rem;
    margin: 0 auto;
    line-height: 1.7rem;
    color: white;
    border-radius: .3rem;
}

.app_two_footer .app_two_footer_three {
    margin-top: .2rem;
    font-size: .8rem;
    line-height: 1rem;
}

.app_two_center .app_two_center_one {
    position: absolute;
    top: -4rem;
    right: 1rem
}

.app_two_center .app_two_center_two {
    margin: 0 auto;
    width: 1px;
    height: 2rem;
    background: #fff;
}

/*外部推广*/
.out_sign_top {
    background: #ec483b;
}

.out_sign_top .out_sign_topA {
    margin: 0 auto;
    position: relative;
    width: 95%;
    height: 17rem;

}

.out_sign_top .out_sign_topA img {
    position: absolute;
    left: 50%;
    margin-left: -7.85rem;
    display: block;
    width: 15.7rem;
    height: 19rem;;;
}

.out_sign_top .out_sign_topC {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    margin-left: -2.6rem;
    width: 5.2rem;;
    height: 2.5rem;
    background: url("../images/tuiguang/app_pDOu_logo.png") no-repeat;
    background-size: 100%;
    background-position-y: .5rem;
}

.relpos {

}

.btn79White {
    margin: 0 auto;
    margin-top: 1rem;;
    width: 10.5rem;
    height: 2rem;
    line-height: 2rem;
    color: #ff690e;
    font-size: .8rem;
    background: #ffffff;
    text-align: center;
    border-radius: .3rem;
}

.out_sign_topD {

    width: 10.5rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0 auto;
    font-size: .5rem;
    text-align: center;
}

.out_sign_topB {
    position: relative;
    width: 100%;
    height: 19.6rem;;
    background: url("../images/tuiguang/out_youshi.png") no-repeat left top/100%;
}

.out_sign_topB .out_sign_bottomA {
    position: relative;
    top: 2rem;;
    width: 10.5rem;
    height: 1.8rem;
    margin: 0 auto;
}

.out_sign_bottomB {
    height: 7.31rem; 
}

.out_sign_bottomB div div {
    height: 3.31rem;
    line-height: 3.31rem;
    width: 3.6rem;font-size: .8rem;
    text-align: center;;
    background: url("../images/tuiguang/out_sign_shouyi.png") no-repeat left top /100%;

}

.out_bottom_divA {
    width: 3.69rem;
    float: left;
    margin-left: 1.1rem;

}
.out_bottom_divA p{
    color: #ffffff;
}
.out_sign_bottomB {
    position: relative;
    top: 3rem;
    overflow: hidden;
    width: 15rem;
    margin: 0 auto;
    text-align: center;
}
.out_sign_bottomB .out_bottom_divA .save{
    color: #418fd8;
}

.out_sign_bottomB .out_bottom_divA .shouyi{
    color: #63cf63;
}
.out_sign_bottomB .out_bottom_divA .linghuo{
    color: #ec483b;
}
.out_sign_bottomC{
    position: relative;
    top: 3.5rem;
    margin: 0 auto;
    width: 90%;
    height: .2rem;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    

}
.out_sign_bottomD{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 2.5rem;
    color: #ffffff;
}
.out_sign_bottomD div{
    text-align: center;
    margin: 0 auto;
    height: 1.2rem;
    font-size: .7rem
}
.out_sign_bottomD div a{
    color: #66CCFF;
    text-decoration: none;
}
.out_sign_bottomE{
    position: absolute;
    bottom: 0;
    width:100%;
    height:2rem;
    line-height: 2rem;
    text-align: center;
    color: #ffffff;
    background: #e59328;
}
























